  <div class="well">
    <div id="article_actions" class="pull-right">
      <%= link_to '<i class="icon-search"></i>'.html_safe ,article_path(article) %>
      <%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_article_path(article) %>
      <%= link_to '<i class="icon-trash"></i>'.html_safe, article_path(article), :method => :delete, :confirm => "Really delete the article?" %>
    </div>
    <div class="article">
        <h1><%= article.title.titleize %></h1>
        <%= simple_format( truncate(article.body, :length => 400, ) ) %>
    </div>
  </div>
