<p>
  <b>Username:</b>
  <%= @author.username %>
</p>

<p>
  <b>Email:</b>
  <%= @author.email %>
</p>

<p>
  <b>Access Token: </b> <%= @author.active_token %>
  <%=button_to "Refresh Access Token", refresh_path, class: "btn btn-mini btn-info" %>
  <ul class="unstyled">
    <% @author.api_keys.inactive.each do |key| %>
      <li>Key<b>(expired):</b> Created <%= time_ago_in_words key.created_at %> ago| <%= key.access_token %></li>
    <% end %>
  </ul>
</p>
