<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to title, root_path, class: "brand" %>
      <div class="nav-collapse collapse">
        <ul class="nav pull-right">
          <% if logged_in? %>
            <li><%= link_to current_user.username, '#' %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user"></i><b class="caret"></b></a>
            <ul class="dropdown-menu span3">
              <li><%= link_to 'Logout', logout_path %></li>
              <li><a href="#">Edit Profile Details</a></li>
              <li class="divider"></li>
              <li><a href="#api">API KEY</a></li>
            </ul>
          </li>
          <% else %>
            <li><%= link_to 'Login / Signup', login_path %></li>
          <% end %>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
<%= render 'shared/api_key_modal' %>
