<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag "//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" ,"application", "modal","overrides" %>
  <%= javascript_include_tag "application", "//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"%>
  <%= aced_tag %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'shared/header_nav' %>

<% if flash.notice %>
  <p class="flash">
    <%= flash.notice %>
  </p>
<% end %>
<%= yield %>
<%= render 'shared/footer' %>
</body>
</html>



