<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag "//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" ,"application", "overrides" %>
  <%= javascript_include_tag "application", "//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"%>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/header_nav' %>
<div class="jumbotron">
  <h1><%= title %></h1>
  <p class="lead">Share What’s Happening, Right Now, Without a Character Limit.</p>
  <%= link_to "Get Started Today", login_path, class: "btn btn-large btn-primary" %>
</div>

<hr>

<!-- Example row of columns -->
  <div class="row-fluid">
    <div class="span4">
      <h2>Twitter Integration</h2>
      <%= image_tag "https://twitter.com/images/resources/twitter-bird-blue-on-white.png", class: "img-rounded" %>
    </div>
    <div class="span4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn" href="#landing_modal">View details &raquo;</a></p>
   </div>
    <div class="span4">
      <h2>Text Editor</h2>
      <%= image_tag "https://d1n0x3qji82z53.cloudfront.net/ace-logo.png", class: "img-rounded" %>
    </div>
  </div>

<%= render 'shared/landing_modal' %>
<%= "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>
</br>
<%= "http://#{request.host+request.fullpath}" %>
</br>
<%= "http://#{request.host}:#{request.port}#{request.fullpath}" %>

</body>
</html>



 






